body {
    font-family: Arial, sans-serif;
    background-color: #fffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    width: 100%
    margin: auto;
}

.header {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 5%;
    height: 10%;
}

.top-space {
    background-color: #ACE5D4;
    height: 50px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    position: relative;
    height: 700px;
    border: none;
    box-shadow:none;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-container form label {
    display: block;
    margin-bottom: 5px;
}
.form-container form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container form #error {
    color: red;
    font-size: 14px;
}
.form-container form footer {
    margin-top: 10px;
    font-size: 14px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    position: relative;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

iframe {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    border: none;
    box-shadow:none;
}

#main-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
}

#addsurvey {
    width: 95vw;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    position: relative;
    margin: auto;
}

#question_input_container, .question {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-bottom: 50px;
    position: relative;

}

#title, #question_text, #description {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; 
}

.hidden {
    display: none;
}

.question h3 {
    margin-top: 0;
}
.remove-question {
    position: absolute;
    top: 10px;
    right: 10px;
}
.answers {
    display: flex;
    flex-wrap: wrap;
}
.answer {
    width: 30%;
    margin: 13px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.answer .button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10%;
    height: 10%;
    font-size: 14pt;
}

.hidden {
    display: none;
}
.add-answer-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.add-answer-container input[type="text"] {
    flex: 1;
    width: 30%;
    margin: 10px 50px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.add-answer-container button {
    margin: 10px 50px
}

#error {
    display: block;
    color: red;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.answer input[type="text"] {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}