body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 20px 0;
}

table {
    width: 100%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

input {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 25%;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

table th, table td {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    margin: 10px;
    text-align: center;    
}

table tr {
    border-bottom: 1px solid #ddd;
    
}

table th {
    background-color: #479e7b;
    color: white;
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
}

table td {
    background-color: white;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.search-add {
    width: 95%;
    padding: 16px;
    margin: 16px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#userTable th:nth-child(6),
#userTable td:nth-child(6),
#userTable th:nth-child(7),
#userTable td:nth-child(7) {
    padding: 0;
    box-shadow: none;
    background-color: #f9f9f9;
    border: none;
    width: 5%;
    margin: 0;
}


#surveyTable td:nth-child(3),
#surveyTable td:nth-child(4),
#surveyTable td:nth-child(5){
    padding: 0;
    box-shadow: none;
    background-color: #f9f9f9;
    border: none;
    width: 5%;
    margin: 0;
}